@font-face {
  font-family: "Avenir";
  src: url("path/to/avenir.woff2") format("woff2"),
    url("path/to/avenir.woff") format("woff");
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  font-family: "Avenir", sans-serif;
  transform: translateY(100%); /* Start 100% below its original position */
  animation: moveUp 1.5s ease-out forwards; /* 2-second animation */
  overflow: hidden; /* Hide scrollbars during animation */
}
@keyframes moveUp {
  to {
    opacity: 1; /* End fully visible */
    transform: translateY(0); /* End at its original position */
  }
}
#no-signal {
  width: 90%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #000;
  cursor: not-allowed;
  border-radius: 50px;
  display: none;
}
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hello-world {
  display: none;
  color: white;
  background-color: #121212;
  border: none;
  letter-spacing: 2px;
  font-family: "IBM Plex Mono", "Courier New", monospace;
  font-weight: 800;
  font-size: 18px;
  cursor: pointer;
  animation: float 1s ease-in-out infinite;
  user-select: none;
}
#hello-world img {
  width: 300px;
}
.social-media div a {
  color: rgb(94, 86, 86);
  text-decoration: none;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
}
.social-media div a:hover {
  color: #b3b3b3;
}
.social-media {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
}
/* Animation for sliding out */
.slide-out {
  animation: slide-out 1.5s forwards;
}

/* Slide-out keyframes */
@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/* button effect */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Slight lift */
  }
}
